*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Segoe UI',sans-serif;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#2196F3,#64B5F6,#BBDEFB,#E3F2FD);

background-size:400% 400%;

animation:bg 12s ease infinite;

overflow:hidden;

}

@keyframes bg{

0%{

background-position:0% 50%;

}

50%{

background-position:100% 50%;

}

100%{

background-position:0% 50%;

}

}

.card{

width:420px;

padding:40px;

background:rgba(255,255,255,.25);

backdrop-filter:blur(18px);

border-radius:25px;

box-shadow:0 10px 40px rgba(0,0,0,.15);

text-align:center;

}

.card h1{

font-size:60px;

margin-bottom:10px;

}

.card h2{

color:#0D47A1;

margin-bottom:8px;

}

.card p{

color:#555;

margin-bottom:20px;

}

input{

width:100%;

padding:14px;

margin:12px 0;

border:none;

border-radius:12px;

font-size:16px;

outline:none;

}

button{

width:100%;

padding:15px;

border:none;

background:#2196F3;

color:white;

font-size:18px;

font-weight:bold;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1565C0;

transform:translateY(-3px);

}

.login-link{

margin-top:20px;

}

.login-link a{

color:#1565C0;

text-decoration:none;

font-weight:bold;

}

#message{

margin-top:15px;

font-weight:bold;

}